body {
    display: inline-block;
}
/*nav {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: flex-start;*/
/*}*/

/*.nav-links {*/
/*    display: flex;*/
/*    position: absolute;*/
/*    top: 45px;*/
/*    right: 25px;*/
/*    list-style: none;*/
/*    gap: 20px;*/
/*}*/


@media screen and (min-width: 768px) {
    .hidden-on-desktop {
        visibility: hidden;
    }
    .header-img img{
        max-height: 385px;
        max-width: 890px;
    }
    .nav-links {
        display: flex;
        position: absolute;
        top: 45px;
        right: 25px;
        list-style: none;
        gap: 20px;
    }
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .header-img img {
        max-width: 100%;
        min-width: 100%;
    }
    body {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: lightgray;
    }
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

section {

}

/*.header-img img {*/
/*    height: 224px;*/
/*    width: 100%;*/

/*}*/
