nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav-links {
    display: flex;
    position: absolute;
    top: 45px;
    right: 25px;
    list-style: none;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .hidden-on-desktop {
        visibility: hidden;
    }
}